<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        color="secondary"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"
      ><img src="./assets/imgs/logo.png" class="logo" alt=""
    /></ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="secondary"> Ayuda </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollY="false">
  <div class="login">
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(email.dirty || email.touched) && email.errors"
          >Email invalido</ion-note
        >
      </ion-item>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(password.dirty || password.touched) && password.errors"
          >La contraseña debe tener al menos 6 caracteres</ion-note
        >
      </ion-item>

      <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
        >Iniciar Sesion</ion-button
      >
      <ion-button
        type="button"
        expand="block"
        color="secondary"
        (click)="register()"
        >Crear cuenta</ion-button
      >

      <ion-button type="button" expand="block" color="tertiary"
      (click)="resetPassword()">
        Restablecer contraseña
      </ion-button>


    </form>
  </div>
</ion-content>
