<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"
      ><img src="./assets/imgs/logo.png" class="logo" alt=""
    /></ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"> Help </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
  <ion-text class="ion-hide-md-down">
    <h1>elige tu pipza</h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let p of products">
        <ion-card>
          <div
            tappable
            [routerLink]="[p.id]"
            class="product-image"
            [style.background-image]="'url('+p.img+')'"
          ></div>
          <ion-card-content tappable [routerLink]="[ p.id]">
            <ion-label>
              <b>{{ p.title}}</b>
              <p>{{ p.price | currency: 'USD' }}</p>
            </ion-label>
          </ion-card-content>
          <ion-button
            class="ion-no-margin"
            expand="full"
            (click)="addProduct(p)"
          >
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-hide-md-up"
  >
    <ion-fab-button (click)="openFilter()">
      <ion-icon name="filter"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
