<ion-content>
  <div class="hero"></div>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="4"
        offset-xl="3"
        size-xl="2"
        class="ion-text-center"
      >
        <ion-icon name="location" color="primary"></ion-icon>
        <ion-text color="tertiary"
          >1. Uso de distintos elementos para las paginas(responsivas)</ion-text
        >
        <ion-text color="secondary"
          >aqui podria ir un lorem pero pa que po pongamos al loco neftali
          <br />
          Cuerpo de mujer, blancas colinas, muslos blancos, te pareces al mundo
          en tu actitud de entrega. Mi cuerpo de labriego salvaje te socava y
          hace saltar el hijo del fondo de la tierra. Fui solo como un tunel. De
          mi huian los pajaros y en mi la noche entraba su invasion poderosa.
          Para sobrevivirme te forje como un arma, como una flecha en mi arco,
          como una piedra en mi honda. Pero cae la hora de la venganza, y te
          amo. Cuerpo de piel, de musgo, de leche avida y firme. .</ion-text
        >
      </ion-col>
      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="fast-food" color="primary"></ion-icon>
        <ion-text color="tertiary">2. Elige algo del menu </ion-text>
        <ion-text color="secondary"
          >Ah los vasos del pecho! Ah los ojos de ausencia! Ah las rosas del
          pubis! Ah tu voz lenta y triste! Cuerpo de mujer mia, persistira en tu
          gracia. Mi sed, mi ansia sin limite, mi camino indeciso! Oscuros
          cauces donde la sed eterna sigue, y la fatiga sigue, y el dolor
          infinito. Poema 1
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="card" color="primary"></ion-icon>
        <ion-text color="tertiary"
          >3. Implementar mas logica al carrito es lo que falta</ion-text
        >
        <ion-text color="secondary">
          En su llama mortal la luz te envuelve. Absorta, palida doliente, asi
          situada contra las viejas helices del crepusculo que en torno a ti da
          vueltas. Muda, mi amiga, sola en lo solitario de esta hora de muertes
          y llena de las vidas del fuego, pura heredera del dia destruido.
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
