/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
//Para titulos

@font-face {
  font-family: OverMuchRegular;
  src: url("./assets/font/overmch.ttf");
}

//Para leectura
//TODO
// :root {
//   --ion-color-primary: rgb(33, 67, 143);
//   --ion-color-secondary: rgb(105, 186, 247);
//   --ion-color-tertiary: rgb(239, 153, 27);

//   --ion-font-family: OverMuchRegular;
// }
@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: rgb(255 196 129);
    --ion-color-surface-tint: rgb(83, 69, 51);
    --ion-color-on-primary: rgb(72 42 0);
    --ion-color-primary-container: rgb(232 147 18);
    --ion-color-on-primary-container: rgb(42 23 0);
    --ion-color-secondary: rgb(176 218 255);
    --ion-color-on-secondary: rgb(0 51 80);
    --ion-color-secondary-container: rgb(97 179 239);
    --ion-color-on-secondary-container: rgb(0 35 57);
    --ion-color-tertiary: rgb(178 197 255);
    --ion-color-on-tertiary: rgb(0 43 115);
    --ion-color-tertiary-container: rgb(20 57 132);
    --ion-color-on-tertiary-container: rgb(195 209 255);
    --ion-color-error: rgb(255 180 171);
    --ion-color-on-error: rgb(105 0 5);
    --ion-color-error-container: rgb(147 0 10);
    --ion-color-on-error-container: rgb(255 218 214);
    --ion-color-background: rgb(25 18 10);
    --ion-color-on-background: rgb(239 224 210);
    --ion-color-surface: rgb(25 18 10);
    --ion-color-on-surface: rgb(239 224 210);
    --ion-color-surface-variant: rgb(83 68 52);
    --ion-color-on-surface-variant: rgb(216 195 174);
    --ion-color-outline: rgb(161 141 123);
    --ion-color-outline-variant: rgb(83 68 52);
    --ion-color-shadow: rgb(0 0 0);
    --ion-color-scrim: rgb(0 0 0);
    --ion-color-inverse-surface: rgb(239 224 210);
    --ion-color-inverse-on-surface: rgb(56 47 38);
    --ion-color-inverse-primary: rgb(135 83 0);
    --ion-color-primary-fixed: rgb(255 221 186);
    --ion-color-on-primary-fixed: rgb(43 23 0);
    --ion-color-primary-fixed-dim: rgb(255 185 100);
    --ion-color-on-primary-fixed-variant: rgb(102 62 0);
    --ion-color-secondary-fixed: rgb(203 230 255);
    --ion-color-on-secondary-fixed: rgb(0 30 49);
    --ion-color-secondary-fixed-dim: rgb(144 205 255);
    --ion-color-on-secondary-fixed-variant: rgb(0 75 114);
    --ion-color-tertiary-fixed: rgb(218 226 255);
    --ion-color-on-tertiary-fixed: rgb(0 24 72);
    --ion-color-tertiary-fixed-dim: rgb(178 197 255);
    --ion-color-on-tertiary-fixed-variant: rgb(33 67 142);
    --ion-color-surface-dim: rgb(25 18 10);
    --ion-color-surface-bright: rgb(65 56 46);
    --ion-color-surface-container-lowest: rgb(20 13 6);
    --ion-color-surface-container-low: rgb(34 26 18);
    --ion-color-surface-container: rgb(38 30 22);
    --ion-color-surface-container-high: rgb(49 40 32);
    --ion-color-surface-container-highest: rgb(60 51 42);
  }
}

.custom-modal {
  &::part(backdrop) {
    --backdrop-opacity: 0.5;
  }

  &::part(content) {
    margin: 15%;
    --height: 50%;
  }
  --border-radius: 8px;
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
